img {
  margin-top: 10px;
  background-color: none;
  max-height: 60px;
}

.nav-wrapper {
  background-color: #ff420f;
  min-height: 80px;
}

.nav-custom-padding {
  margin-top: 22px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 35px;
}

.nav-wrapper a i {
  font-size: 38px;
}

nav a.sidenav-trigger i {
  line-height: 75px;
}
